<!DOCTYPE html>
<html>
  <head>
    <fa-icon icon="fa-solid fa-house-chimney"></fa-icon>
    <title>My Web Page</title>
    <link rel="stylesheet" href="static/home.css">
  </head>
  <body>
    <h1 class="headingtitle">Guna Solutions</h1>
    <div>
      <img src="static/Scenary.png" alt="Image" class="himage">
    </div>
    <div>
      <h2 class="about">About Guna</h2>
      <p class="desc">Job hunting, job seeking, or job searching is the act of looking for employment, due to unemployment, underemployment, discontent with a current position, or a desire for a better position. The immediate goal of job seeking is usually to obtain a job interview with an employer which may lead to getting hired. The job hunter or seeker typically first looks for job vacancies or employment opportunities.</p>
    </div>
    <div>
      <h2>Job Openings</h2>
      <h3>Data Analyst</h3>
      <h4>Bengaluru, India</h4>
      <button class="apply">Apply</button>
      <hr>
      <h3>Data Scientist</h3>
      <h4>Delhi, India</h4>
      <button class="apply">Apply</button>
      <hr>
      <h3>Backend Engineer</h3>
      <h4>San Francisco, USA</h4>
      <button class="apply">Apply</button>
      <hr>
      <h3>Frontend Engineer</h3>
      <h4>Remote</h4>
      <button class="apply">Apply</button>
    </div>
    <div>
      <button class="contact">Contact Us</button>
    </div>
  </body>
</html>